<?xml version="1.0"?>
<module xmlns="urn:jboss:module:1.1" name="default.name">
  <resources>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.commons.logging"/>
  </dependencies>
</module>	
